<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adcitymart">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Blog"></activity>
        <activity android:name=".Follow_Us" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Intership" />
        <activity android:name=".Careers" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Marketing" />
        <activity android:name=".Development" />
        <activity android:name=".Adverstisement"></activity>
        <activity android:name=".Design" />
        <activity android:name=".Not_Verified" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".splash_screen" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Home"  />
        <activity android:name=".Signup" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>